<!DOCTYPE html>
<html class="no-js">
<head>
    <style>
#sidebar    {
float:left;
margin-right:30px;
    position: absolute;
    left: -200px;
    width: 200px;
    height: 400px;
    background: red;
}

    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}TwoCans{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/css/main20.css">

    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="/static/js/vendor/html5shiv.js"><\/script>')</script>
</head>
<body>
<header>

        <div class="row">
        <div class="grid-33">
            <a href="{{ url_for('index') }}" class="icon-logo"></a>

        </div>
        <div class="grid-33">

            <!-- Say Hi -->
            <h1>Hello{% if current_user.is_authenticated %} {{ current_user.username }}{% endif %}!</h1>

        </div>

        <div class="grid-33">

            <!-- Log in/Log out -->
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="icon-power" title="Log out"></a>
            {% else %}
            <a href="{{ url_for('login') }}" class="icon-power" title="Log in"></a>
            <a href="{{ url_for('register') }}" class="icon-profile" title="Register"></a>
            {% endif %}

        </div>
        <input type="text" value="" style="width:400px" autocomplete="off" placeholder="Search">
            <button style="width:60px;margin-left:50px;">GO</button>
    </div>

</header>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="notification {{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div style="height: 160px; width: 100%; box-sizing:border-box; display:table;">
    {% if current_user.is_authenticated and not user%}
    <div class="introwrapper" style="width: 17%;
  margin: 92px auto 0;
  background: palegoldenrod;
  border-radius: 4px;
  margin-left:2%;
  position:absolute;
  max-height:500px;
  padding-left: 0px;
">
        <br>
        <br>
        {% if vip %}
        <b style="margin: 92px;">VIP Features</b>
        {% endif %}
        <br>
        <br>

        <button style="background-color:Gold;color:black;border-style: solid; border-width: 2px;" onclick="window.location.href='{{ url_for( 'stream' , username=current_user.username ) }}';">{{current_user.username}}</button>
        <button style="background-color:Gold;color:black;border-style: solid; border-width: 2px;">Domaintube.com</button>

        <button style="background-color:Gold;color:black;border-style: solid; border-width: 2px;" onclick="window.location.href='{{ url_for('group') }}';">+ Create group</button>

    </div>

    {% elif current_user.is_authenticated and user%}
    <div class="introwrapper" style="width: 17%;
  margin: 50px auto 0;
  background: #fff;
  border-radius: 4px;
  margin-left:2%;
  position:absolute;
  height:500px;
  padding-bottom: 20px;
  padding-left: 0px;
">
<div id="{{user_profile.user_id}}" ></div>
<!--<script type="text/javascript">-->
<!--a="{{user_profile.profile_pic_path}}'-->
    <!--document.getElementById({{user_profile.user_id}}).innerHTML ='<a href="{{ url_for( "addProfile" ) }}">    <img src="{{url_for("static", filename="{{'+a+'}}")}}" style=" margin: 10px auto 0;border-radius: 9px;border-style: solid;border-width: 5px;margin-left:10px;position:relative;border:10px;max-height:250px;width:80%"></a>'-->
<!--</script>-->

    <a href="{{ url_for( 'addProfile' ) }}">    <img src="/{{user_profile.profile_pic_path}}" style="

    margin: 10px auto 0;
    border-radius: 9px;
    border-style: solid;
    border-width: 5px;
    margin-left:10px;
    position:relative;
    border:10px;
    max-height:250px;
width:80%"></a>
        <br><br>
        {% if user %}
        <label style="margin-left:10px;">Name-</label><b><a href="{{ url_for('follow', username=user.username) }}"
                                                            style="margin-left:10px;"> {{user.username}}</a></b>
        <br>
        <label style="margin-left:10px">Email-</label><b><a href="{{ url_for('follow', username=user.username) }}"
                                                             style="margin-left:10px;"> {{user.email}}</a></b>
        {% else %}
        {{current_user.username}}
        {% endif %}
    </div>
    {% endif %}
    {% if vip %}
    <span style='font-size:30px;color:gold'>&#9733; Welcome VIP MEMBER</span>
    {% endif %}
    <div style="width:5%;">
    </div>

    <div style="
    margin: 50px auto 0;
    width: 60%;
    margin-left: 20%;
float:right
  margin: 50px auto 0;
  align:right;
  background: #fff;
  border-radius: 4px;
  padding-bottom: 20px;
">

        <nav>
            <a href="{{ url_for('index') }}">All</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('allFollowing') }}">Following</a>
            <a href="{{ url_for('post') }}" class="new">Create New Post</a>
            {% endif %}
        </nav>
        {% block content %}{% endblock %}
    </div>
</div>

<footer>

    <div class="row">
{% if not vip %}
    <button style="background-color:red;width:60%" onclick="window.location.href='{{ url_for( 'makePayment' ) }}';">Become a VIP MEMBER</button>
        {% endif %}
        <br>
        <br>
        <p style="color:white">A Social App<br>by Karanvir</a></p>

    </div>


</footer>

<script src="/static/js/vendor/disTime.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>
