<form rel="async" class="_s" action="/ajax/groups/create_post/" method="post" data-testid="create_group_dialog"
      onsubmit="" id="u_4v_7"><input type="hidden" name="jazoest" value="21980" autocomplete="off"><input type="hidden"
                                                                                                          name="fb_dtsg"
                                                                                                          value="AQEJNm0gFQyC:AQHv6xHZT1g0"
                                                                                                          autocomplete="off">
    <div class="_4-i0">
        <div class="clearfix">
            <div class="_51-u rfloat _ohf"><a role="button" class="_42ft _5upp _50zy layerCancel _51-t _50-0 _50z-"
                                              data-testid="dialog_title_close_button" href="#" title="Close"
                                              tabindex="0">Close</a></div>
            <div><h3 id="u_4v_0" class="_52c9">Create New Group</h3></div>
        </div>
    </div>
    <div class="_4-i2 _50f4">
        <div>
            <div class="mbm pam hidden_elem uiBoxRed" id="u_4v_8"></div>
            <input type="hidden" autocomplete="off" name="ref" value="discover_groups"><input type="hidden"
                                                                                              autocomplete="off"
                                                                                              name="purposes">
            <div>
                <div>
                    <div class="mbm _53hi">
                        <div class="_54j4 _3ub9 _3ube _3ubg _3uba" id="u_4v_9">
                            <div class="_54j3">
                                <ul class="uiList _54j2 _509- _4ki" id="u_4v_a" style="margin-left: 6px; width: 476px;">
                                    <li class="_2wnw">
                                        <div class="_4-u2 _29bk _4-u8" style="width:474px">
                                            <div class="clearfix"><i
                                                    class="_2dd6 _8o _8s lfloat _ohe img sp_ZDy4cnNmH7d_1_5x sx_777b30"
                                                    style="width:76px"></i>
                                                <div class="_42ef">
                                                    <div class="_6a _3-8s">
                                                        <div class="_6a _6b" style="height:92px"></div>
                                                        <div class="_6a _6b">
                                                            <div class="fbGroupCreateFlowCardTitle"></div>
                                                            <span class="_29bl _50f8">Groups are great for getting things done and staying in touch with just the people you want. Share photos and videos, have conversations, make plans and more.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="_54l4" id="u_4v_b"><a class="_54j6 _54kp" href="#" role="button">
                                <div class="_54j7"></div>
                            </a><a aria-label="Previous" class="_54jg _54ks" href="#" role="button">
                                <div class="_54kn _79k _79m _4-u8"><i
                                        class="_79n img sp_Pq_BU-G2oCN_1_5x sx_ccb585"></i></div>
                            </a></div>
                            <div class="_54l6" id="u_4v_c"><a class="_54j6 _54ko" href="#" role="button">
                                <div class="_54j7"></div>
                            </a><a aria-label="Next" class="_54jg _54l1" href="#" role="button">
                                <div class="_54kn _79k _79m _4-u8"><i
                                        class="_79n img sp_Pq_BU-G2oCN_1_5x sx_f12bf2"></i></div>
                            </a></div>
                        </div>
                    </div>
                </div>
                <div class="_29bg">
                    <div class="_29bj">
                        <div class="_29bf" id="groupsCreateName">Name your group</div>
                        <input type="text" class="inputtext pls _29br" autofocus="1" onfocus="this.value = this.value;"
                               name="name" required="1" autocomplete="off" maxlength="75" autocapitalize="1"
                               aria-labelledby="groupsCreateName" aria-required="true" id="u_4v_d"></div>
                    <div class="_29bj">
                        <div class="_29bf" id="groupsCreateMembers">
                            <div id="editable_copy">Add some people</div>
                            <div id="uneditable_copy" style="display: none;">Participants</div>
                        </div>
                        <div>
                            <div>
                                <div class="clearfix uiTokenizer uiInlineTokenizer _2uxm groupsAddMemberTokenizer"
                                     onclick="$(&quot;u_4v_5&quot;).focus();" aria-labelledby="groupsCreateMembers"
                                     id="u_4v_e">
                                    <div class="tokenarea hidden_elem" style="" id="u_4v_f"></div>
                                    <div class="uiTypeahead uiContextualLayerParent uiGroupsAddTypeaheadView"
                                         data-ft="{&quot;tn&quot;:&quot;+Q&quot;}" id="u_4v_6">
                                        <div class="wrap"><input type="hidden" autocomplete="off" class="hiddenInput">
                                            <div class="innerWrap"><input type="text" class="inputtext textInput"
                                                                          placeholder="Enter names or email addresses..."
                                                                          id="u_4v_5"
                                                                          data-placeholder="Enter names or email addresses..."
                                                                          autocomplete="off" aria-autocomplete="list"
                                                                          aria-expanded="false"
                                                                          aria-controls="typeahead_list_u_4v_6"
                                                                          aria-haspopup="true" role="combobox"
                                                                          spellcheck="false"
                                                                          aria-label="Enter names or email addresses..."
                                                                          style="width: 209px;"></div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <input type="hidden" autocomplete="off" name="purposes[0]" value="" id="grp_purpose"></div>
                    </div>
                    <div class="_29bj">


                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" autocomplete="off" name="session_id" value="16jfBVGahQuLUCjyS"></div>
    <div class="_5lnf uiOverlayFooter _5a8u _29bm" id="u_4v_m">
        <table class="uiGrid _51mz uiOverlayFooterGrid" cellspacing="0" cellpadding="0">
            <tbody>
            <tr class="_51mx">
                <td class="_51m- prs uiOverlayFooterMessage">
                    <div class="_2pin">
                        <div class="uiInputLabel clearfix uiInputLabelLegacy"><input type="checkbox"
                                                                                     name="add_to_favorites"
                                                                                     class="uiInputLabelInput uiInputLabelCheckbox"
                                                                                     id="u_4v_1"><label for="u_4v_1"
                                                                                                        class="uiInputLabelLabel">Pin
                            to Shortcuts</label></div>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</form>