{% extends "layout.html" %}
{% from 'macros.html' import render_field %}
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {% for field in form %}
        <!--{{ render_field(field) }}-->
    <!--<input type = "file" name = "file" accept="image/*" enctype="multipart/form-data"/> -->
    {% endfor %}
<input type = "file" name = "profile" accept="image/*" enctype="multipart/form-data"/>

    <button type="submit" id="submit">Post!</button>

</form>
{% endblock %}